body{

}

table{
	width: 100%;
}

table, th, tr, td{
	/*border: 1px solid black;*/
}

/*$body-color: red;

body {
  color: $body-color;
}*/

.container > h1{
	display: none;
}

.jumbotron .container > h1{
	display: block;
}
